<aside class="menu" style="background-color: #dbdbdb">
    <p class="menu-label">
        Livres
    </p>
    <ul class="menu-list">
        <li><a href="/?class=BookController&method=getAll">Liste</a></li>
        <li><a>Chercher par nom</a></li>
        <li><a>Chercher par nom d'auteur</a></li>
        <li><a>Sans auteur</a></li>
        <li><a>Récents</a></li>
        <li><a>Ajouter</a></li>
    </ul>
    <p class="menu-label">
        Auteurs
    </p>
    <ul class="menu-list">
        <li><a href="/?class=AuthorController&method=getAll">Liste</a></li>
        <li><a>Chercher par nom</a></li>
        <li><a>Ajouter</a></li>
    </ul>
</aside>